---
# Start from the LLVM style
BasedOnStyle: LLVM
IndentWidth: 2
---
Language: Cpp
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 80
IncludeCategories:
  - Regex:    '^<jb/'
    Priority: 1
  - Regex:    '^<skye/'
    Priority: 2
  - Regex:    '^<boost/'
    Priority: 3
  - Regex:    '^<yaml-cpp/'
    Priority: 4
  - Regex:    '^<fftw3'
    Priority: 4
  - Regex:    '.*'
    Priority: 10
UseTab: Never
PointerAlignment: Left
Standard: Cpp11
