---
# Start from the LLVM style
BasedOnStyle: LLVM
IndentWidth: 2
---
Language: Cpp
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 80
IncludeCategories:
  - Regex:    '^<jb/clfft/'
    Priority: 1
  - Regex:    '^<jb/opencl/'
    Priority: 2
  - Regex:    '^<jb/[^/]*/'
    Priority: 9
  - Regex:    '^<jb/'
    Priority: 10
  - Regex:    '^<valgrind/'
    Priority: 20
  - Regex:    '^<skye/'
    Priority: 30
  - Regex:    '^<beast/'
    Priority: 35
  - Regex:    '^<boost/'
    Priority: 40
  - Regex:    '^<yaml-cpp/'
    Priority: 50
  - Regex:    '^<fftw3'
    Priority: 50
UseTab: Never
PointerAlignment: Left
Standard: Cpp11
